#aa{
    margin-top: 50px;
    padding-top: 50px;
    background-color: mintcream;
    color:rgb(56, 0, 103) ;
    padding-bottom: 50px;
}
img{
    height: 150px;
    width: 160px;
}

#rw{
    margin-left: 130px;
}

#bdp{
    height: 300px;
    width: 450px;

}