body{
    font-family: "Playfair Display", serif;
}
#aa{
    margin-top: 50px;
    padding-top: 50px;
    background-image: rgb(180, 255, 218);
    color:rgb(56, 0, 103) ;
    padding-bottom: 50px;
}
img{
    height: 150px;
    width: 160px;
}

#rw{
    margin-left: 130px;
}

#bdp{
    height: 300px;
    width: 450px;

}
#mdl{
    color: rgb(20, 0, 130);
}
.carousel-inner img{
    height: 75%;
    width: 100%;
}
